header{
    background-color: #d9373a;
    color: rgb(242,203,82);
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

li{
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 250px;
}

ul{
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-weight: 400;
}

.right-item{
    font-weight: 600;
}

div.menu{
    color: black;
}
#content{
    background-color: rgb(73,52,14);
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    min-height: 100vh;
}

#content h1{
    color:rgb(242,203,82);
    font-style: italic;
}

button.nav{
    margin: 10px;
    height: 35px;
    width: 80px;
    color: rgb(242,203,82);
    background-color: rgb(163,31,33);
    font-size: large;

}

button.active{
    color: rgb(40, 69, 40);
    font-weight: 600;
    border-color: rgb(242,203,82);

}